APP_TOKEN='a-secure-token'

SUBJECT="broken-link-checker result for: "

MAILSERVER="mail.example.com"
PORT="587"
MAILUSER="noreply@example.com"
MAILPDW="pwd"
DOMAIN="example.com"
FROM="me@example.com"
