APP_TOKEN='a-secure-token'

SUBJECT="Broken Link Checker Report for: "

MAILSERVER="mail.example.com"
PORT="587"
MAILUSER="noreply@example.com"
MAILPDW="pwd"
DOMAIN="example.com"
FROM="me@example.com"

SENTINEL_MASTER='my_redis_master'
SENTINEL_PORT=26379
SENTINEL1='10.10.100.10'
SENTINEL2='10.10.100.11'
SENTINEL3='10.10.100.12'
REDIS_PWD="pwd"
CA_FILE="/path/to/ssl/certs/ca-certificates.crt"
# REDIS_SERVER=127.0.0.1
# REDIS_PORT=6379
REDIS_DATABASE=1
